@using Sitecore.Mvc;
@using Capgemini_Training2.Models;
@using Sitecore.Mvc.Presentation;
@model Header

@if (Model != null && Model.HeaderDatasource != null)
{
    <header class="full_bg">
        <!-- header inner -->
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="header_bottom">
                            <div class="row">
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                                    <div class="full">
                                        <div class="center-desk">
                                            <div class="logo">
                                                <a href="index.html">@Html.Sitecore().Field("Tiltle Text", Model.HeaderDatasource)</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                                    <nav class="navigation navbar navbar-expand-md navbar-dark ">
                                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                                            <span class="navbar-toggler-icon"></span>
                                        </button>
                                        <div class="collapse navbar-collapse" id="navbarsExample04">
                                            <ul class="navbar-nav mr-auto">
                                                @if (Model.NavigationItems != null && Model.NavigationItems.Count > 0)
                                                {
                                                    foreach (var item in Model.NavigationItems)
                                                    {
                                                        <li class="nav-item">
                                                            <a class="nav-item nav-link" href="index.html">
                                                                @Html.Sitecore().Field("Navigation Title", item)
                                                            </a>
                                                        </li>

                                                    }

                                                }
                                            </ul>
                                        </div>
                                        <ul class="search">
                                            <li><a href="Javascript:void(0)"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </header>
        <!-- end header inner -->
        <!-- end header -->
        }
